.backbutton {
    position:absolute;
    top:6px;
    left:6px;
    border-radius: 6px;
    background-color: #000000;
    color:#4b91a880;
    border: 1.4px solid #4b91a880;
    transition: background-color 300ms ease-in-out, border 300ms ease-in-out, color 300ms ease-in-out;
    font-size: 1.2rem;
}

.backbutton svg {
    padding: 2px 1px 0 1px;
    transition: fill 300ms ease-in-out;
}

.backbutton:hover svg {
    fill: #4b91a8;
}

.backbutton:hover {
    color:#4b91a8;
    border: 1.4px solid #4b91a8;
    cursor: pointer;
}

.backbutton:focus {
    outline: none;
}