.button {
    background-color: #000000;
    color:#4b91a880;
    border: 1.4px solid #4b91a880;
    padding: 2% 4%;
    border-radius: 6px;
    margin: 4%;
    transition: background-color 300ms ease-in-out, border 300ms ease-in-out, color 300ms ease-in-out;
    font-size: 1.2rem;
}
  
.button:hover {
    border: 1.4px solid#4b91a8;
    color:#4b91a8;
    cursor: pointer;
}
  
.button:focus {
    outline:none;
}