.button {
    background-color: inherit;
    color:#243B55;
    border: 1.4px solid #243B55;
    padding: 2% 4%;
    border-radius: 6px;
    margin: 0 2%;
    transition: background-color 300ms ease-in-out, border 300ms ease-in-out, color 300ms ease-in-out;
    font-size: 1.2rem;
}
  
.button:hover {
    background-color: #243B55;
    color:#fff;
    cursor: pointer;
}
  
.button:focus {
    outline:none;
}