.header {
    position:absolute;
    width: 100%;
    height: 60px;
    top:0;
}

.navbar {
    display: flex;
    flex-direction: row;
    text-align: right;
}

@media screen and (min-width: 601px) {
    .navbar {
        width: 100%;
    }
    .navbar ul li {
        margin: 0 2%;
    }
  }
@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
    }
    .navbar ul li {
        margin: 0 5%;
    }
}

.navbar ul {
    list-style: none;
    color: #ffffff;
    width: 100%;
}

.navbar ul li {
    display: inline-block;
    font-size: 1.2em;
}

.navbar ul li a {
    transition: border-bottom 300ms ease, color 300ms ease;
}

.navbar ul li a:hover {
  border-bottom: 1.4px solid #ff0000;
  color:#ff0000;
  cursor: pointer;
}