.header {
    position:absolute;
    width: 100%;
    height: 60px;
    top:0;
}

.navbar {
    display: flex;
    flex-direction: row;
    text-align: right;
}

@media screen and (min-width: 601px) {
    .navbar {
        width: 100%;
    }
    .navbar ul li {
        margin: 0 2%;
    }
  }
@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
    }
    .navbar ul li {
        margin: 0 5%;
    }
}

.navbar ul {
    list-style: none;
    color: #4b91a880;
    width: 100%;
}

.navbar ul li {
    display: inline-block;
    font-size: 1.2em;
    text-shadow: 1px 1px #000;
}

.navbar ul li a {
    transition: border-bottom 300ms ease, color 300ms ease;
}

.navbar ul li a:hover {
  border-bottom: 1.4px solid #4b91a8;
  color:#4b91a8;
  cursor: pointer;
}