.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position:fixed;
  top:6px;
  left:6px;
  background-color: #000000;
  transition: background-color 300ms ease-in-out;
}

.formgroup {
  flex-direction: column;
  text-align: left;
  margin: 1rem auto;
}

.formgroup:nth-last-of-type(1) {
  text-align: center;
}

#questioninput {
  width: 60px;
  background-color:inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.5rem;
}

#questioninput:read-only {
  width: 72px;
}

#questioninput:focus {
  outline: none;
}

.range {
  margin-top: 1em;
  width:100%;
}

.submit {
  background-color:inherit;
  padding: 3% 5%;
  border: 1.4px solid #4b91a880;
  color:#4b91a880;
  border-radius: 6px;
  font-size: 1.2rem;
  transition: color ease 300ms, background-color ease 300ms, border ease 300ms;
}

.submit:hover {
  border: 1.4px solid #4b91a8;
  color:#4b91a8;
  cursor: pointer;
}

.submit:focus {
  outline:none;
}
