.main {
    padding: 5rem 0;
    flex: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.card {
    text-align: center;
    border: 2px solid #4b91a860;
    background-color: #000;
    color: #c0c0c0;
    padding: 2%;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    min-width:35%;
}