#questionTable {
  width: 100%;
}

.question {
  width: 350px;
  min-height: 60px;
  font-size: 1.5rem;
}

.questiontext {
  width: 100%;
}

.answer {
  margin: 5% auto;
  width: 50%;
  font-size: 1.2rem;
}

.buttons {
  min-height: 40px;
  text-align: center;
}

.number {
  color:red;
}

.input {
  background-color:inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.5rem;
  width: 160px;
  text-align: center;
}

.input:focus {
  outline: none;
}

.sub {
  font-size: .7em;
}

.questionCol {
  padding-right: 20px;
  text-align: left;
}

.answerCol {
  padding-left: 20px;
  text-align: right;
}

.buttons {
  margin: 5%;
}