.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressbar {
  width: 100%;
  height: 10px;
  border-radius: 4px;
}

.progressbarfill {
  height: 10px;
  display: block;
  border-radius:4px;
  width: 0;
  transition: width 500ms ease-in-out, background-color 500ms ease-in-out;
}

.score {
  margin: 4% 0;
  line-height: 1.15;
  font-size: 2rem;
}

.question {
  width: 350px;
  min-height: 60px;
  font-size: 1.5rem;
}

.questiontext {
  width: 100%;
}

.answer {
  margin: 5% auto;
  width: 50%;
  font-size: 1.2rem;
}

.buttons {
  min-height: 40px;
  text-align: center;
}

.number {
  color:red;
}

.input {
  background-color:inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.input:focus {
  outline: none;
}