.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: black;
  position:fixed;
  top:6px;
  left:6px;
}

.header a svg {
  transition: fill 300ms ease;
}

.header a svg:hover {
  fill: red;
}

.progressbar {
  width: 100%;
  height: 10px;
  border-radius: 4px;
}

.progressbarfill {
  height: 10px;
  display: block;
  background-color: #4b91a850;
  border-radius:4px;
  width: 0;
  transition: width 500ms ease-in-out, background-color 500ms ease-in-out;
}

.score {
  margin: 4% 0;
  line-height: 1.15;
  font-size: 2rem;
}

.card {
  text-align: center;
  background-color: black;
  border: 2px solid #4b91a850;
  color: #c0c0c0;
  padding: 2% 5%;
  border-radius: 5px;
}

.question {
  width: 350px;
  min-height: 60px;
  font-size: 1.5rem;
}

.questiontext {
  width: 100%;
}

.answer {
  margin: 5% auto;
  width: 50%;
  font-size: 1.2rem;
}

.buttons {
  min-height: 40px;
  text-align: center;
}

.button {
  background-color:inherit;
  padding: 2% 4%;
  border: 1px solid #4b91a850;
  color:#4b91a850;
  border-radius: 6px;
  font-size: 1.2rem;
  transition: color ease 300ms, background-color ease 300ms, border ease 300ms;
}

.button:hover {
  border: 1px solid#4b91a8;
  color:#4b91a8;
  cursor: pointer;
}

.button:focus {
  outline:none;
}

.number {
  color:red;
}

.input {
  background-color:inherit;
  color: #c0c0c0;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.input:focus {
  outline: none;
}

.wrong {
  color:red;
  font-size:.75rem;
  height: 10px;
}