.score {
  margin: 4% 0;
  line-height: 1.15;
  font-size: 2rem;
}

.question {
  width: 350px;
  min-height: 60px;
  font-size: 1.5rem;
}

.questiontext {
  width: 100%;
}

.answer {
  margin: 5% auto;
  width: 50%;
  font-size: 1.2rem;
}

.buttons {
  min-height: 40px;
  text-align: center;
}

.number {
  color:red;
}

.input {
  background-color:inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
}

.input:focus {
  outline: none;
}

.heading {
  font-size:1.4em;
  margin: 2%;
}

.sub {
  font-size: .7em;
}

.convertArrowCol {
  width: 30px;
}

.questionCol, .answerCol {
  width: 150px;
}

.buttons {
  margin: 5%;
}