.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size:1.4em;
    margin: 2%;
}

.sub {
    font-size: .7em;
}

.convertArrowCol {
    padding-left: 10px;
    padding-right: 40px;
}

.userAnswerCol {
    padding:1.4em 0 0 40px;
}

.buttons {
    margin: 5%;
}