.header {
    position:fixed;
    top:6px;
    right:6px;
    padding: 3px 3px 2px 3px;
    border-radius: 5px;
    border: 2px solid #4b91a860;
    transition: background-color 300ms ease-in-out;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 26px;
}
  
/* Hide default HTML checkbox */
.switch .toggle {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 26px;
    border: 1px solid #4b91a850;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.toggle:checked + .slider {
    background-color: #4b91a8;
}

.toggle:focus + .slider {
    box-shadow: 0 0 3px #4b91a8;
}

.toggle:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.icons {
    display:inline-block;
    vertical-align: top;
    margin: 1.2px 0 0 5px;
}